<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/mdb.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-2.2.3.min.js"></script>
  </head>
  <body> 
  {{> header}}
  <div class="container">
  	<br>
  	{{{body}}}
  </div>
 
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/tether.min.js"></script>
  <script src="/javascripts/mdb.min.js"></script>
  </body>
</html>
