<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<h1>Sign Up</h1>
		{{#if hasErrors}}
			<div class="alert alert-danger">
				{{# each messages}}
					<li>{{this}}</li>
				{{/each}}
			</div>
		{{/if}}
		<form action="/user/signup" method="post">
			<div class="md-form">
				<i class="fa fa-envelope prefix"></i>
				<label for="email" data-error="wrong" data-success="right">E-mail</label>
				<input type="text" id="email" name="email" class="form-control validate">
			</div>
			<div class="md-form">
				<i class="fa fa-lock prefix"></i>
				<label for="password" data-error="wrong" data-success="right">Password</label>
				<input type="password" id="password" name="password" class="form-control validate">
			</div>
			<input type="hidden" name="_csrf" value="{{ csrfToken }}">
			<button class="btn btn-primary" type="submit">Sign Up</button>
		</form>
	</div>
</div>