<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-block">
                <h1>Checkout</h1>
                <h4>Your Total: ${{total}}</h4>
                <div id="charge-error" class="alert alert-danger {{#if noErrors}}hidden-xs-up{{/if}}">
                    {{errMsg}}
                </div>
                <form action="/checkout" method="post" id="checkout-form">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="md-form form-group">
                                <label for="name">Name</label>
                                <input type="text" id="name" class="form-control" required name="name">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="md-form form-group">
                                <label for="address">Address</label>
                                <input type="text" id="address" class="form-control" required name="address">
                            </div>
                        </div>
                        <hr>
                        <div class="col-xs-12">
                            <div class="md-form form-group">
                                <label for="card-name">Card Holder Name</label>
                                <input type="text" id="card-name" class="form-control" required data-stripe="name">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="md-form form-group">
                                <label for="card-number">Credit Card Number</label>
                                <input type="text" id="card-number" size="20" class="form-control" data-stripe="number" required>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="md-form form-group">
                                        <label for="card-expiry-month">Expiration Month (MM)</label>
                                        <input type="text" id="card-expiry-month" size="2" class="form-control" data-stripe="exp_month" required>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="md-form form-group">
                                        <label for="card-expiry-year">Expiration Year (YY)</label>
                                        <input type="text" id="card-expiry-year" size="2"  class="form-control" data-stripe="exp_year" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="md-form form-group">
                                <label for="card-cvc">CVC</label>
                                <input type="text" id="card-cvc" size="4" class="form-control" data-stripe="cvc" required>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Buy now</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="/javascripts/checkout.js"></script>